<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>SmartBlogLayout</Name>
  <Alias>SmartBlogLayout</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@section styles {
	<link href="/css/Main.SmartBlog.css" rel="stylesheet" type="text/css" />
}
@{
    Layout = "Shared/_Layout.cshtml";
}
	@RenderBody()
@section scripts {
	<script type="text/javascript" src="/scripts/Main.SmartBlog.js" async></script>
}
@*@if( Model.Content.DocumentTypeAlias == "SmartBlogPost") {
	@section ImageSection {
		<section id="banner" style='background-color: @Model.Content.GetPropertyValue("colour");'>
			<div id="treatment-image" class="grid-row" style='background-color: @Model.Content.GetPropertyValue("colour");'>
				<img src='@Umbraco.TypedMedia(Model.Content.GetPropertyValue<int>("featuredImage")).Url' height="180" style='background-color: @Model.Content.GetPropertyValue("colour");' />
			</div>
		</section>
	}	
}*@]]></Design>
  <Hash>64d2560f9c78923e17d8fb46206d4f58</Hash>
</Template>