@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var pageName = CurrentPage.Name;
}

@if (ViewBag.ShowPageTitle == true)
{
    <section class="page-title">
        <div class="grid-row clearfix">
            <h1>@pageName</h1>
            <nav class="bread-crumbs">
                <div class="breadcrumb breadcrumbs">

                </div>
                <div class="breadcrumb last-breadcrumb">
                </div>
            </nav>
        </div>
    </section>

    <script type="text/template" id="script-breadcrumb">
        <div>
            <div class="breadcrumbs">
                <a class="breadcrumb"></a>
                <span>&nbsp;</span>
                <i class="fa fa-angle-right"></i><span>&nbsp;</span>
            </div>
            <div class="breadcrumbs last-breadcrumb" data-node-id="@CurrentPage.Id">
                @pageName
            </div>
        </div>
    </script>

    <script>
        function loadBreadCrumbs() {
            var s = $("#script-breadcrumb").html();
            var h = $(s);
            var l = h.find(".last-breadcrumb");
            var c = l.html();
            var id = l.attr("data-node-id")
            var m = $("nav.mobile-main-nav li[data-node-id=" + id + "]");
            m.parents("nav").not("ul, nav").each(function () {
                var n = $(this).text();
                var t = h.find(".breadcrumb").html();
                t.html(n);
                t.attr("href", $(this).find("a").attr("href"));
                var a = $(t).html();
                $(a).after(c);
                c = $(a).html();
            });

            var e = $(".page-title nav");
            e.find(".bread-crumbs").html(c);
        }

        (function () {
            loadBreadCrumbs();
        })();
    </script>
}