@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="widget">
    <h2 class="widget-title">@Model.MacroParameters["Heading"]</h2>
    <div class="content">
        @Model.MacroParameters["Text"]
    </div>
</div>
<!-- End: Macro @Model.MacroParameters["Heading"] -->