@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="widget">
    <h2 class="widget-title">@Model.MacroParameters["heading"]</h2>
    <div class="content">
        @Model.MacroParameters["content"]
    </div>
</div>
