<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>test category</Name>
    <Alias>TestCategory</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>00c1533fcbeb11862206c5d7888a30bf</Hash>
</DocumentType>