<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>SmartBlogBlog</Name>
  <Alias>SmartBlogBlog</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@{
    Layout = "SmartBlogPage.cshtml";
}

@Umbraco.Field("body")
@Html.Partial("SmartListPosts")]]></Design>
  <Master>SmartBlogPage</Master>
  <Hash>fc04f51d3d40e0a1622d5fb08c284474</Hash>
</Template>