<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>SmartBlogArticle</Name>
  <Alias>SmartBlogArticle</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SmartBlogPage.cshtml";
}

@Umbraco.Field("smartBlogBody")]]></Design>
  <Master>SmartBlogPage</Master>
  <Hash>ac96a8e175eb06ff68a6f520e83dae76</Hash>
</Template>