<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>SmartBlogContent</Name>
  <Alias>SmartBlogContent</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@using PurityBridge.Live
@using System.Collections.Generic;
@using System.Linq;
@using Umbraco.Web.Mvc;
@using Umbraco.Web.Models;
	
@{
	var b = ((List<BreadCrumbElement>)(ViewBag.BreadCrumbs ?? new List<BreadCrumbElement>()));
	b.Add(new BreadCrumbElement()
		  {
			  Name =  uQuery.GetNodesByType("SmartBlogBlog").First().GetProperty("smartBlogTitle").Value.ToString(),
			  Value = "/" + uQuery.GetNodesByType("SmartBlogBlog").First().UrlName
		  });
	
	if(Model.Content.DocumentTypeAlias == "SmartBlogPost") {
		b.Add(new BreadCrumbElement()
		  {
			  Name =  @Model.Content.GetProperty("smartBlogTitle").Value.ToString(),
			  Value = "/" + uQuery.GetNodesByType("SmartBlogBlog").First().UrlName + Model.Content.UrlName
		  });	
	}
	
	ViewBag.BreadCrumbs = b;
	Layout = "SmartBlogLayout.cshtml";					
}

	<div class="grid-col grid-col-9">
		@RenderBody()
	</div>
	<div class="grid-col grid-col-3">
		@*@Html.Partial("SmartSearch")
		@Html.Partial("SmartListTags")*@
		@Html.Partial("SmartListLatestComments")
		@Html.Partial("SmartListAuthors")
		@Html.Partial("SmartListCategories")
	</div>]]></Design>
  <Master>SmartBlogLayout</Master>
  <Hash>5707bdf6492b797538f7e9e97953ac58</Hash>
</Template>