<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Layout</Name>
    <Alias>Layout</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ContentItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>572ce30e53524a3360bb3520d786c1f0</Hash>
</DocumentType>