<!-- page header -->
<div class="page-header main-page">
    <!-- logo -->
    <section id="logo" class="logo">
        <a href="/home/index">
            <img src='/Content/img/logo.jpg' alt='Purity Bridge'>
        </a>
    </section>
    <!--/ logo -->
    <!-- main nav -->
    <nav class="main-nav">
        @Html.Partial("MainNavigationPartial")
    </nav>

    <!--/ main nav -->
    <!-- mobile nav -->
    <nav id="mobile-main-nav" class="mobile-main-nav">
        <i class="fa fa-bars"></i><a href="#" class="opener">Navigation</a>
        @Html.Partial("MainNavigationPartial")
    </nav>
    <!--/ mobile nav -->
</div>
<!--/ page header -->
