<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Contact Page</Name>
    <Alias>Location</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Pages</Master>
    <AllowedTemplates>
      <Template>Index</Template>
    </AllowedTemplates>
    <DefaultTemplate>Index</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>4be17fbea9f525eb66c85da57bc75286</Hash>
</DocumentType>