<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Newsletter</Name>
    <Alias>Newsletter</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Text</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>6dfd8e84b982b7aaf6a5fe155b99ac9a</Hash>
</DocumentType>