<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>The Clinic Page</Name>
    <Alias>theclinic</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Pages</Master>
    <AllowedTemplates>
      <Template>Index</Template>
    </AllowedTemplates>
    <DefaultTemplate>Index</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>TheRightChoice</DocumentType>
    <DocumentType>TheTeam</DocumentType>
    <DocumentType>TheSpecialists</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>26a507e1dd3513d0d5b312ee6e44597e</Hash>
</DocumentType>