<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Gallery Data</Name>
    <Alias>GalleryData</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>PageData</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>content</DocumentType>
    <DocumentType>VideoData</DocumentType>
    <DocumentType>PhotosData</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>8e4b0b01e3235a4cddb23902eafb552e</Hash>
</DocumentType>