<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>SmartBlogPage</Name>
  <Alias>SmartBlogPage</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@{
    Layout = "SmartBlogContent.cshtml";
}
	@Umbraco.Field("summary", insertBefore: "&lt;h2&gt;", insertAfter: "&lt;/h2&gt;")

<article>
	@RenderBody()
</article>]]></Design>
  <Master>SmartBlogContent</Master>
  <Hash>71778c5e62485f42e657d55bea125d94</Hash>
</Template>