<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>SmartBlogPost</Name>
  <Alias>SmartBlogPost</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@{
    Layout = "SmartBlogPage.cshtml";
}

@Umbraco.Field("body")
@Html.Partial("SmartListPosts")]]></Design>
  <Master>SmartBlogPage</Master>
  <Hash>bf87626a28c2d096dbd19cbb2eb4bfb9</Hash>
</Template>